.card__like {
   transition: opacity 0.4s ease;
   cursor: pointer;
   background: url(../../../images/like.svg) no-repeat center;
   width: 22px;
   height: 19px;
   border: none;
   padding: 0;
 }
 .card__like:hover {
   opacity: 0.5;
 }