.popup__container {
   width: 430px;
   height: 330px;
   background: #fff;
   box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
   border-radius: 10px;
   padding: 34px 36px 36px;
   box-sizing: border-box;
   position: relative;
 }
 @media (max-width: 700px) {
   .popup__container {
     padding: 25px 22px;
     width: 282px;
     max-height: 322px;
   }
 }