.form__input {
   border: none;
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
   padding: 0 0 9px;
   font-size: 14px;
   line-height: 17px;
   width: 100%;
   margin: 0;
   background-color: transparent;
}
